body {
    margin: 0px;
}

.first_container {
    display: flex;
    width: 1440px;
    height: 810px;
    background-color: #F4F6F7;
}

.menu_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1440px;
    height: 810px;
    background-color: #F4F6F7;
    justify-content: space-around;
    padding-bottom: 53px;
}

.menu__logo {
    padding-top: 40px;
}

.links {
    color: #13253A;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 53px;
}

.links__service {
    padding-right: 50px;
}

.links__about {
    padding-right: 50px;
}

.links__contact {
    padding-right: 135px;
}

.content_container {
    display: flex;
}

.content__button {
    display: flex;
    align-items: flex-end;
    width: 470px;
    height: 261px;
    padding-right: 120px;
    padding-top: 100px;
}

.free_consultation {
    background-color: #FF7F57;
    border-radius: 3px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    width: 336px;
    height: 60px;
}

.services_container {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 120px;
    width: 1170px;
    
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1170px;
    background-color: #ffffff;
    font-family: Nunito Sans;
}

.heading__small {
    color: #2557AB;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 22px;
}

.heading__large {
    color: #13253A;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 38px;
    line-height: 52px;
    padding-bottom: 100px;
}

.boxes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1170px;
    min-height: 197px;
    padding-bottom: 150px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: Nunito Sans;
    color: #13253A;
}

.boxes__1 {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    align-items: center;
    text-align: center;
    width: 370px;
    height: 197px;
    font-size: 16px;
    line-height: 1.7;
}

.boxes__2 {
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    text-align: center;
    width: 370px;
    height: 197px;
    font-size: 16px;
    line-height: 1.7;
}

.boxes__3 {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 370px;
    height: 197px;
    font-size: 16px;
    line-height: 1.7;
}

.bolder { 
    font-weight: bold;
}


.numbers_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1440px;
    height: 205px;
    background-color: #F2F2F2;
    padding-top: 100px;
    /*flex-wrap: wrap;*/
}   

.numbers {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    /*font-family: Nunito Sans;
    text-align: center;*/
}

.numbers_1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 211px;
    padding-right: 125px;
    padding-bottom: 60px;
}

.numbers_2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 147px;
    padding-right: 157px;
}

.numbers_3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 135px;
}

.first_num {
    display: flex;
    font-size: 46px;
    line-height: 63px;
    font-family: Nunito Sans;
    color: #13253A;
}

.first_text {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    font-family: Nunito Sans;
    color: #2557AB;
}

.sec_num {
    display: flex;
    font-size: 46px;
    line-height: 63px;
    font-family: Nunito Sans;
    color: #13253A;
}

.sec_text {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    font-family: Nunito Sans;
    color: #2557AB;
}

.third_num {
    display: flex;
    font-size: 46px;
    line-height: 63px;
    font-family: Nunito Sans;
    color: #13253A;
}

.third_text {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    font-family: Nunito Sans;
    color: #2557AB;
}

span {
    color: #FF7F57;
}

.heading_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1440px;
    background-color: #ffffff;
    padding-top: 99px;
    padding-bottom: 30px;
}

.heading_2_small {
    font-size: 16px;
    line-height: 22px;
    color: #2557AB;
    font-family: Nunito Sans;
}

.heading_2_large {
    font-size: 38px;
    line-height: 52px;
    font-family: Nunito Sans;
    color: #13253A;
}

.content_container_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 60px;
    width: 1440px;
    padding-top: 30px;
}

.content_2_left {
    color: #13253A;
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 27px;
    padding-left: 150px;
    font-weight: lighter;
}

.content_2_right {
    color: #13253A;
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 27px;
    padding-right: 100px;
}

/*.bigger {
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}*/

.brands_logos_container {
    display: flex;
    flex-direction: row;
    width: 1440px;
    padding: 30px 60px 60px 50px; 
    margin-right: 30px;
}

.hello_fresh {
    padding-right: 73px;
    padding-left: 235px;
}

.trivago {
    padding-right: 74px;
}

.LA_times {
    padding-right: 73px;
}

.oracle {
    padding-right: 73px;
}

.target {
    padding-right: 235px;
}

.relax_container {
    display: flex;
    flex-direction: row;
    width: 1170px;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 100px;
}

.heading_relax {
    font-size: 38px;
    line-height: 52px;
    color: #13253A;
    font-family: Nunito Sans; 
    font-weight: bold;
    padding-bottom: 20px;
}

.relax_text {
    font-size: 16px;
    line-height: 27px;
    font-family: Nunito Sans;
    padding-bottom: 20px;
    padding-right: 100px;
}

.relax_list {
    font-size: 15px;
    line-height: 27px;
    color: #13253A;
    font-family: Nunito Sans;
    text-align: left;
}

.relax_list_list {
    padding-left: 0px;
    list-style: none;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: #DCE2E6;
    opacity: 0.5;
    width: 1170px;
  }

  .content_2_left:first-child {
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
  }

  .start_container {
      text-align: center;
      background-color: #FF7F57;
  }

  .heading_3_small {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-family: Muli;
    padding-top: 100px;
  }

  .heading_3_large {
    font-family: Muli;
    font-style: normal;
    font-weight: bolder;
    font-size: 46px;
    line-height: 63px;
    color: #F4F6F7;
    padding-bottom: 10px;
}

.start_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    font-family: Muli;
    padding-bottom: 20px;
    color: #ffffff;
}

.get_started {
    width: 336px;
    height: 60px;
    color: #ffffff;
    background-color: #2557AB;
    border-radius: 3px;
    font-family: Muli;
    border-style: none;
    box-shadow: #2557AB;
    font-size: 16px;
}

.start_button {
    padding-bottom: 100px;
}

.form_container {
    background-color: #11364E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading_contact_us {
    text-align: center;
    font-size: 38px;
    line-height: 52px;
    font-family: Muli;
    color: #ffffff;
    background-color: #11364E;
    padding-bottom: 30px;
    padding-top: 140px;
}

.form_contact_us {
    display: flex;
}

#message {
    width: 370px;
    height: 140px;
}

.contact_input {
    color: #ffffff;
    font-family: Muli;
}

.your_message {
    color: #ffffff;
    background-color: #FF7F57;
    border-radius: 3px;
    border-style: none;
    width: 370px;
    height: 60px;
}

.button_submit {
    padding-bottom: 140px;
    padding-top: 36px;
}

.first_name {
    width: 371px;
    height: 76px;
}